
<form [formGroup]="form">
  <div class="from-group">
    <label for="">Old Password</label>
    <input formControlName="oldPassword" type="password" class="form-control">
    <div
     *ngIf="oldPassword.touched && oldPassword.invalid"
    class="alert alert-danger">
    <div *ngIf="oldPassword.errors.required">
      Old Password is Requird.</div>
      <div *ngIf="oldPassword.errors.invaidOldPassword">
        Old Password is not match.</div>
    </div>
  </div>
  <div class="from-group">
    <label for="">New Password</label>
    <input formControlName="newPassword" type="password" class="form-control">
    <div
    *ngIf="newPassword.touched && newPassword.invalid"
   class="alert alert-danger">
   <div *ngIf="newPassword.errors.required">
     new Password is Requird.</div>
   </div>

  </div>
  <div class="from-group">
    <label for="">Confirm Password</label>
    <input formControlName="confirmPassword"type="password" class="form-control">
     <div
     *ngIf="confirmPassword.touched && confirmPassword.invalid"
    class="alert alert-danger">
    <div *ngIf="confirmPassword.errors.required">
      comfirm Password is Requird.</div>
    </div>
    <div *ngIf="confirmPassword.valid && form.invalid && form.errors.passwordShouldMatch" class=" alert alert-danger">
     Password not match.</div>
  </div>
  <br>
  <button class="btn btn-primary">Reset Password</button>
</form>
